@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply
    text-text-primary
    bg-bg-secondary;
  }
}

.icon {
  @apply
  block;
}

.icon svg {
  @apply
  w-full
  h-full;
}
